SUBSYSTEM=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="000f", SYMLINK+="flash-bridge-%k", TAG+="uaccess"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="0010", SYMLINK+="apollo-%k", TAG+="uaccess"
